<div class="container-lg">
  <div class='row' >
    <div class="col">
      <%= render "map" %>
      <%= link_to '人物詳細', person_path(@person) %>
    </div>
    <div class="row mb-5">
      <%= render "people/landmark" %>
    </div>
  </div>
</div>
