<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class="navbar-nav">
          <li class="nav-item d-flex">
            <a class="nav-link active ms-2 mt-1" aria-current="page" href="#">人物ソート</a>
            <%= link_to "ログイン", login_path,class: "nav-link active ms-2 mt-1" %>
          </li>
        </div>
      </div>
    </div>
  </nav>
</header>
