<footer class="fixed-bottom bg-secondary text-white" >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-12">
          <p>Copyright © 2022 平安末期〜鎌倉時代の人物マップ</p>
        </div>
      </div>
    </div>
</footer>
