<footer class="fixed-bottom bg-secondary text-white" >
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-5">
          <p>Copyright © 2022 平安末期〜鎌倉時代の人物マップ</p>
        </div>
        <div  class="col-sm-3 col">
          <%= link_to '利用規約', terms_path, style: "color: white" %>
        </div>
        <div  class="col-sm-3 col">
          <%= link_to 'プライバシーポリシー', privacy_path, style: "color: white" %>
        </div>
      </div>
    </div>
</footer>
